@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
body {
  font-family: 'Proxima Nova',sans-serif;
  font-size: 16px;
  color: #212529; }

/* Base*/
.btn-default {
  display: inline-flex;
  height: 40px;
  background: linear-gradient(to right, #00aeef 0, #00aeef 100%);
  color: #fff;
  outline: none;
  cursor: pointer;
  border: 0;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  padding: 0 18px;
  line-height: 1.1;
  text-align: center; }
  .btn-default:hover, .btn-default:focus {
    outline: none;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, #00aeef 0, #004466 100%); }

.btn-red {
  height: 52px;
  background: #e71921;
  font-size: 18px; }
  .btn-red:focus, .btn-red:hover {
    background: linear-gradient(to right, #e71921 0, #9d0d13 100%); }

.caption-section {
  text-align: center;
  color: #004466;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.1; }

.view-all__wrap {
  text-align: center; }

.btn-view-all {
  font-size: 18px;
  font-weight: 600;
  color: #00aeef;
  border: 0;
  cursor: pointer;
  background: none;
  padding: 0 0 10px;
  display: inline-block;
  position: relative;
  margin: 0; }
  .btn-view-all:focus, .btn-view-all:hover {
    outline: none; }
    .btn-view-all:focus:after, .btn-view-all:focus:before, .btn-view-all:hover:after, .btn-view-all:hover:before {
      bottom: -5px; }
  .btn-view-all:after, .btn-view-all:before {
    content: '';
    display: block;
    position: absolute;
    width: 13px;
    height: 2px;
    background: #00aeef;
    transform: rotate(-45deg);
    bottom: 0;
    left: 50%;
    margin-left: 0;
    transition: 0.5s; }
  .btn-view-all:before {
    transform: rotate(45deg);
    left: 50%;
    margin-left: -9px; }

.slick-dots {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 10px 10px;
    padding: 0;
    cursor: pointer; }
  .slick-dots button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 2px solid #edf2f1;
    outline: none;
    background: transparent;
    border-radius: 50%; }
  .slick-dots li.slick-active button {
    border-color: #00aeef;
    background: #00aeef; }

.btn-w-150 {
  min-width: 150px; }

[name="v-i"] {
  position: absolute !important;
  height: 0;
  width: 0;
  left: -1000000px; }

/* Base end*/
/* Popups */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: none; }
  .popup .flex {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
  .popup .bg {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .popup .content-popup {
    position: relative;
    z-index: 2; }
  .popup .content {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 480px;
    max-width: 90%;
    text-align: center; }
    .popup .content .title {
      font-weight: 600;
      font-size: 27px;
      margin-bottom: 15px;
      line-height: 1; }
    .popup .content .text {
      margin-bottom: 5px;
      line-height: 1.2; }

/* Popups End*/
/*Header*/
.page-header__logo {
  display: inline-block;
  background: url("../img/logo-head.png") center/cover;
  width: 207px;
  height: 72px;
  outline: none; }

.page-header__head__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.page-header__infos {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 15px 0 0; }
  .page-header__infos li {
    padding: 4px 16px; }

.page-header__block-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.page-header__infos__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .page-header__infos__item .img {
    margin-right: 8px;
    max-width: 30px;
    overflow: hidden; }
  .page-header__infos__item .content {
    line-height: 1.05; }
  .page-header__infos__item .info {
    font-weight: 600;
    color: #004466; }

.page-header__head {
  padding: 22px 0 16px; }

.page-header__nav {
  background: #e9efee; }

.page-header__nav__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.header-nav-item {
  position: relative; }

.nav-item__title {
  padding: 15px 0; }
  .nav-item__title a {
    color: #212529; }
    .nav-item__title a:hover, .nav-item__title a:focus {
      color: #00aeef;
      text-decoration: none; }

.header-nav-item-menu {
  position: relative; }
  .header-nav-item-menu .nav-item__title {
    padding-right: 20px; }
  .header-nav-item-menu:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #00aeef;
    right: 0;
    border-top-width: 8px;
    top: 50%;
    margin-top: -3px; }

@media screen and (min-width: 993px) {
  .header-nav-item-menu:hover > .nav-item__content {
    display: block; } }
.nav-item__content {
  display: none;
  padding: 10px 0;
  min-height: 165px;
  background: #e9efee;
  border-top: 1px solid #00aeef;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 100%;
  box-shadow: 0 0 10px 0 #e6e3e3;
  min-width: 280px; }
  .nav-item__content ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .nav-item__content li {
    margin: 5px 0;
    padding: 0 28px;
    position: relative;
    display: block; }
    .nav-item__content li:hover .nav-item__content__sub {
      display: block; }
  .nav-item__content a {
    color: #212529;
    white-space: nowrap;
    display: block;
    padding: 3px 0; }
    .nav-item__content a:hover, .nav-item__content a:focus {
      color: #00aeef;
      text-decoration: none; }

.nav-item__content__sub {
  right: 100%;
  top: -16px;
  left: inherit;
  z-index: 1000; }

.header-nav-other {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .header-nav-other > div {
    margin-left: 60px; }

.page-header__nav__locations .nav-item__title {
  padding-left: 17px; }
  .page-header__nav__locations .nav-item__title:after {
    content: '';
    display: block;
    position: absolute;
    background: url("../img/icon_map.png") center/cover;
    width: 10px;
    height: 12px;
    left: 0;
    top: 50%;
    margin-top: -6px; }

.header-nav-other .item__langs-switch {
  margin-left: 40px; }

.item__langs-switch a {
  color: #212529; }

/*Header end*/
/* popup menu */
/* popup menu - end*/
/*Banner main*/
.banner-main {
  margin: 30px 0; }
  .banner-main .banner_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background: linear-gradient(to right, #e6e9e8 0, #f8fbfa 100%); }
  .banner-main .img {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .banner-main .img img {
      max-width: 100%;
      max-height: 100%; }
  .banner-main .content {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
  .banner-main .banner_content {
    padding-bottom: 15px; }
  .banner-main .banner-title {
    font-size: 52px;
    font-weight: 700; }
  .banner-main .banner-text {
    font-size: 30px;
    font-weight: 600; }
  .banner-main .banner-link {
    margin-top: 20px; }

/*Banner main end*/
/*Brands*/
.present-brands {
  margin: 30px 0;
  padding-top: 30px; }

.present-brands__content {
  margin: 60px auto 30px;
  width: 88%;
  position: relative; }
  .present-brands__content:after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    bottom: 0;
    width: 100%;
    background: #fff;
    left: 0; }
  .present-brands__content .item {
    display: flex;
    flex-wrap: wrap;
    height: 110px;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px; }
    .present-brands__content .item img {
      max-height: 90%;
      max-width: 90%; }
    .present-brands__content .item:after {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: calc(100% - 8px);
      top: 4px;
      right: -15px;
      background: #e9efee; }
    .present-brands__content .item:before {
      content: '';
      display: inline-block;
      position: absolute;
      background: #e9efee;
      width: calc(100% + 14px);
      height: 1px;
      bottom: 0;
      left: -8px; }
  .present-brands__content > div:nth-child(4n) .item:after {
    display: none; }

/*Brands end*/
/*Our advantages*/
.our-advantages {
  background: #e9efee;
  margin-top: 70px;
  padding: 55px 0 35px; }

.our-advantages__content {
  margin: 50px auto 0;
  max-width: 80%;
  position: relative; }

.our-advantages__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px; }
  .our-advantages__item .img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #00aeef;
    border-radius: 50%;
    height: 74px;
    width: 74px; }
  .our-advantages__item .title {
    max-width: 180px;
    text-align: center;
    line-height: 1.3;
    margin-top: 10px; }

/*Our advantages - end*/
/*Section form-order*/
.section__form-order {
  background: #00aeef;
  margin: 0;
  overflow: hidden; }

.form-order__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 60px 55px 70px; }
  .form-order__container .img {
    position: absolute;
    bottom: 35px;
    right: 51%; }

.form-order .caption-form {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px; }

.form-content {
  background: #e9efee;
  width: 435px;
  max-width: 100%;
  padding: 35px 40px; }

.item-form {
  margin-bottom: 20px; }
  .item-form:last-of-type {
    margin-bottom: 0; }
  .item-form input, .item-form textarea {
    display: block;
    height: 40px;
    padding: 0 15px;
    border: 1px solid #e9efee;
    background: #fff;
    width: 100%;
    outline: none; }
    .item-form input::placeholder, .item-form textarea::placeholder {
      color: #616161;
      font-weight: 600; }
  .item-form textarea {
    height: 100px;
    padding: 10px 15px;
    resize: none; }
  .item-form .submit {
    width: 100%;
    font-size: 18px;
    font-weight: 700; }

/*Section form-order - end*/
/*Map*/
.section-map {
  position: relative; }
  .section-map .map {
    height: 395px;
    width: 100%;
    background: url(../img/map-bg.jpg) center/cover; }

.map-contacts-info {
  width: 265px;
  background: #fff;
  box-shadow: 0 0 10px 0 #e6e3e3;
  position: absolute;
  z-index: 100;
  height: 260px;
  top: 50%;
  margin-top: -130px;
  left: 50%;
  margin-left: 235px;
  padding: 40px; }
  .map-contacts-info .title {
    font-size: 18px;
    color: #00aeef;
    text-align: center;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 30px; }
  .map-contacts-info .infos {
    padding-left: 30px; }
  .map-contacts-info .item {
    position: relative;
    color: #616161;
    font-weight: 600;
    margin-bottom: 14px;
    line-height: 1.4;
    display: block; }
    .map-contacts-info .item a {
      color: #616161; }
    .map-contacts-info .item:last-child {
      margin-bottom: 0; }
    .map-contacts-info .item:after {
      content: '';
      display: block;
      position: absolute;
      left: -30px;
      top: 3px; }
  .map-contacts-info .item-phone:after {
    background: url("../img/phone-call.png") center/cover;
    width: 18px;
    height: 18px; }
  .map-contacts-info .item-email:after {
    background: url("../img/email.png") center/cover;
    width: 18px;
    height: 12px;
    top: 6px; }
  .map-contacts-info .item-clock:after {
    background: url("../img/clock.png") center/cover;
    width: 18px;
    height: 18px; }

/*Map - end*/
/*Reviews*/
.section__reviews {
  margin: 60px 0; }

.reviews-slider {
  margin-top: 50px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap; }

.reviews-slider__item {
  padding: 0 50px; }

.item-content-review {
  background: #e9efee;
  padding: 35px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 340px;
  max-width: 450px; }
  .item-content-review .info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start; }
  .item-content-review .img {
    display: block;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px; }

/*Reviews - end*/
/*Articles*/
.section-articles {
  margin-top: 60px;
  margin-bottom: 60px; }

.articles__contents {
  margin-top: 50px; }

.item-article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end; }
  .item-article .img {
    width: 100%; }
    .item-article .img img {
      width: 100%; }
  .item-article .title {
    display: block;
    width: 100%;
    color: #212529;
    font-weight: 700;
    font-size: 20px;
    margin-top: 36px;
    position: relative;
    line-height: 1.3;
    margin-bottom: 20px; }
    .item-article .title:after {
      content: '';
      display: block;
      position: absolute;
      width: 50px;
      height: 2px;
      background: #00aeef;
      left: 27px;
      top: -15px; }
    .item-article .title {
      color: #212529; }
      .item-article .title:hover, .item-article .title:focus {
        color: #00aeef;
        text-decoration: none; }
  .item-article .desc {
    line-height: 1.4;
    margin-bottom: 25px;
    min-height: 110px; }

/*Articles - end*/
/* There-question*/
.section__there-question {
  background: #00aeef;
  padding: 50px 0;
  overflow: hidden; }

.there-question__contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative; }
  .there-question__contents .text {
    width: 370px;
    color: #fff; }
  .there-question__contents .caption {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 1.4; }
  .there-question__contents .desc {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4; }
  .there-question__contents:after {
    content: '';
    display: block;
    position: absolute;
    background: url("../img/question-form-line.png") center/cover;
    width: 2640px;
    height: 173px;
    bottom: -4px;
    left: 50%;
    margin-left: -1330px; }
  .there-question__contents .there-question__form {
    position: relative;
    z-index: 5; }

/* There-question - end*/
/* Page content */
.section__page-content {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 18px; }
  .section__page-content h2 {
    color: #004466;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 35px;
    padding-top: 35px; }
  .section__page-content p {
    font-size: 18px;
    margin-bottom: 30px; }
  .section__page-content ul {
    margin: 30px 0;
    list-style: none;
    padding: 0; }
    .section__page-content ul li {
      padding-left: 75px;
      position: relative;
      margin: 5px 0; }
      .section__page-content ul li:before {
        content: '';
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        background: #004466;
        border-radius: 50%;
        left: 50px;
        top: 50%;
        margin-top: -4px; }

/* Page content - end*/
/* Footer */
.page-footer {
  background: #e9efee;
  padding: 60px 0; }

.footer__left-col {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between; }
  .footer__left-col form {
    margin-right: 65px; }

.item-footer-info {
  margin-bottom: 35px;
  font-size: 18px; }
  .item-footer-info .title {
    margin-bottom: 5px; }
  .item-footer-info .val {
    color: #00aeef;
    font-weight: 600; }

.footer-form-order {
  width: 210px; }
  .footer-form-order .caption {
    color: #00aeef;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px; }
  .footer-form-order .item-form {
    margin-bottom: 15px; }

.footer__right-col {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  .footer__right-col ul {
    list-style: none;
    padding: 5px 0  0;
    margin: 0 0 20px; }
  .footer__right-col li {
    margin-bottom: 14px;
    display: block; }
  .footer__right-col a {
    font-size: 18px;
    font-weight: 600;
    display: block;
    line-height: 1; }
    .footer__right-col a {
      color: #212529; }
      .footer__right-col a:hover, .footer__right-col a:focus {
        color: #00aeef;
        text-decoration: none; }

.footer__col-color {
  margin-right: 45px; }
  .footer__col-color a {
    color: #00aeef; }

/* Footer -end */
/* Page contacts */
.page__contacts {
  padding-top: 65px; }
  .page__contacts h1 {
    text-align: center;
    color: #004466;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px; }

.contacts__page__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 90px; }
  .contacts__page__info .caption {
    color: #004466;
    font-size: 21px;
    font-weight: 600;
    position: relative;
    padding-left: 30px; }
    .contacts__page__info .caption:after {
      content: '';
      display: inline-block;
      position: absolute;
      width: 18px;
      height: 18px;
      left: 0;
      top: 6px; }
  .contacts__page__info .caption-1:after {
    background: url("../img/c-icon-1.png") center/cover; }
  .contacts__page__info .caption-2:after {
    background: url("../img/c-icon-2.png") center/cover; }
  .contacts__page__info .caption-3:after {
    background: url("../img/c-icon-3.png") center/cover; }
  .contacts__page__info ul {
    list-style: none;
    padding: 0 0 0 30px;
    margin: 20px 0 0; }
  .contacts__page__info li a {
    display: inline-block;
    text-decoration: underline;
    /*margin-bottom: 20px;*/ }
    .contacts__page__info li a {
      color: #212529; }
      .contacts__page__info li a:hover, .contacts__page__info li a:focus {
        color: #00aeef;
        text-decoration: none; }

.ul-times-work {
  width: 300px;
  max-width: 100%; }
  .ul-times-work li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; }

.contacts__page__map {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.contacts__map {
  width: 50%;
  position: relative;
  z-index: 1; }
  .contacts__map .map-content {
    width: 960px; }
    .contacts__map .map-content > * {
      width: 100%; }

.contacts__form {
  width: 296px;
  box-shadow: 0 0 10px 0 #e6e3e3;
  background: #fff;
  padding: 25px 30px 30px;
  position: relative;
  z-index: 5; }
  .contacts__form .caption {
    text-align: center;
    color: #004466;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px; }

/* Page contacts - end*/
/* Page service */
.service__page {
  padding: 55px 0 0; }

.service__h1 {
  text-align: center;
  color: #004466;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 40px; }

.service__head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px; }
  .service__head > .img {
    width: 40%;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .service__head .service__infos {
    width: 60%; }

.service__infos {
  display: flex;
  flex-wrap: wrap; }
  .service__infos .item__service__infos {
    width: 33.33%; }

.item__service__infos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px; }
  .item__service__infos .icon {
    display: flex;
    flex-wrap: wrap;
    width: 70px;
    height: 70px;
    background: #00aeef;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center; }
    .item__service__infos .icon img {
      max-width: 90%;
      max-height: 90%; }
  .item__service__infos .title {
    text-align: center;
    line-height: 1.4;
    margin-top: 10px; }

/* Page service - end*/
.typical-breakdowns__section {
  margin-top: 50px; }

.caption-section__service {
  color: #004466;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 30px; }

.typical-breakdowns__wrap {
  margin-top: 50px;
  margin-bottom: 50px; }
  .typical-breakdowns__wrap .row {
    margin-left: -10px;
    margin-right: -10px; }
  .typical-breakdowns__wrap [class^="col-"] {
    padding-left: 10px;
    padding-right: 10px; }

.item_t-b {
  width: 100%;
  border: 1px solid #e9efee;
  padding: 25px 40px 28px 145px;
  position: relative;
  min-height: 200px;
  line-height: 1.4;
  margin-bottom: 20px;
  transition: 0.3s; }
  .item_t-b .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 145px;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    justify-content: center;
    align-items: center; }
  .item_t-b .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px; }
  .item_t-b ul {
    list-style: none;
    margin: 0 0 40px;
    padding: 0 0 0 33px; }
    .item_t-b ul li {
      font-size: 18px;
      margin-bottom: 5px;
      position: relative; }
      .item_t-b ul li:after {
        content: '';
        display: block;
        position: absolute;
        background: url("../img/check-ok.png") center/cover;
        width: 20px;
        height: 17px;
        left: -32px;
        top: 2px; }
  .item_t-b .btn-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; }
  .item_t-b:hover {
    box-shadow: 0 0 10px 0 #e6e3e3; }

.typical-breakdowns__contents {
  margin-bottom: 15px; }

.section-service-padding {
  padding-left: 45px;
  padding-right: 45px; }

.price__contents__table {
  margin-bottom: 50px; }

.table_price {
  border: 1px solid #e9efee;
  margin-bottom: 25px; }
  .table_price .t_head {
    background: #e9efee; }
  .table_price .t_row {
    display: flex;
    flex-wrap: wrap;
    min-height: 46px;
    padding: 5px 25px;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #e9efee; }
    .table_price .t_row:last-of-type {
      border-bottom: 0; }
  .table_price .th {
    font-size: 18px;
    font-weight: 600; }
  .table_price .th:nth-child(1), .table_price .td:nth-child(1) {
    width: 50%; }
  .table_price .th:nth-child(2), .table_price .td:nth-child(2) {
    width: 20%; }
  .table_price .th:nth-child(3), .table_price .td:nth-child(3) {
    width: 20%; }
  .table_price .th:nth-child(4), .table_price .td:nth-child(4) {
    width: 10%; }

.we-renovating {
  margin-bottom: 90px; }

/* FAQ */
.faq__section {
  margin-top: 80px;
  margin-bottom: 80px; }
  .faq__section .faq__contents {
    width: 86%; }

.faq__contents {
  margin: 0 auto 30px; }
  .faq__contents .faq_row {
    border-bottom: 1px solid #e9efee;
    padding: 10px 0; }
    .faq__contents .faq_row.active .faq_caption:after {
      transform: rotate(-90deg); }
  .faq__contents .faq_caption {
    min-height: 36px;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 0;
    cursor: pointer;
    position: relative; }
    .faq__contents .faq_caption:after {
      content: '';
      display: block;
      position: absolute;
      background: url("../img/arrow-blue.png") center/cover;
      width: 18px;
      height: 10px;
      top: 50%;
      margin-top: -5px;
      right: 0;
      transition: 0.3s; }
  .faq__contents .faq_answer {
    display: none; }
    .faq__contents .faq_answer .text {
      min-height: 36px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 5px 10px 5px 30px; }

/* FAQ - end */
.service__page .caption-section {
  text-align: left; }

.btn-menu-show {
  display: none;
  border: 0;
  border-top: 3px solid #004466;
  border-bottom: 3px solid #004466;
  width: 30px;
  height: 24px;
  margin-left: 25px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 0.3s; }
  .btn-menu-show:after, .btn-menu-show:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #004466;
    top: 50%;
    left: 0;
    margin-top: -1px;
    opacity: 1;
    transition: 0.3s; }
  .btn-menu-show:hover, .btn-menu-show:focus {
    outline: none; }
  .btn-menu-show.active {
    border-color: transparent; }
    .btn-menu-show.active:after {
      transform: rotate(45deg); }
    .btn-menu-show.active:before {
      transform: rotate(-45deg); }

.popup-menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 100;
  background: #fff;
  border-right: 2px solid #00aeef;
  overflow: auto; }
  .popup-menu-mobile .content-popup {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .popup-menu-mobile .page-header__infos li {
    padding-left: 0;
    margin-bottom: 5px; }

.btn-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0;
  background: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer; }
  .btn-close-popup:after, .btn-close-popup:before {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 30px;
    background: #00aeef;
    transform: rotate(45deg);
    left: 14px;
    top: 0; }
  .btn-close-popup:hover, .btn-close-popup:focus {
    outline: none; }
  .btn-close-popup:after {
    transform: rotate(-45deg); }

.popup-default {
  padding: 30px; }
  .popup-default .logo-popup {
    background: url("../img/logo-min.png") center/cover;
    width: 149px;
    height: 40px;
    display: inline-block; }

.popup-menu-mobile {
  left: -51%;
  transition: 0.5s; }
  .popup-menu-mobile.active {
    left: 0; }

.menu-popup-nav-other {
  padding-top: 20px;
  margin-bottom: 20px; }
  .menu-popup-nav-other .nav-item__title {
    padding: 0;
    cursor: pointer; }
  .menu-popup-nav-other .nav-item__content {
    position: relative;
    background: none;
    box-shadow: none;
    border: 0;
    padding: 0;
    min-height: 1px;
    min-width: 1px; }
  .menu-popup-nav-other .nav-item__content__sub {
    right: 0;
    position: relative;
    top: 0; }
  .menu-popup-nav-other .nav-item__content li {
    margin: 0; }
  .menu-popup-nav-other .header-nav-item-menu:after {
    top: 9px;
    margin-top: 0; }
  .menu-popup-nav-other .header-nav-item {
    margin-bottom: 5px; }

/* Media */
@media screen and (max-width: 1200px) {
  .max-1200-h {
    display: none; }

  .header-nav-other > div {
    margin-left: 40px; }

  .banner-main .img {
    width: 40%; }

  .form-order__container .img {
    right: 57%; }

  .there-question__contents:after {
    margin-left: -1260px; }

  .footer__right-col > div {
    width: 50%; }

  .footer__col-color {
    margin-right: 25px; }

  .map-contacts-info {
    margin-left: 145px; }

  .table_price .th:nth-child(4), .table_price .td:nth-child(4) {
    width: 15%; }

  .table_price .th:nth-child(1), .table_price .td:nth-child(1) {
    width: 45%; } }
@media screen and (max-width: 992px) {
  .max-992-h {
    display: none; }

  .page-header {
    border-bottom: 2px solid #e9efee; }

  .banner-main .img {
    width: 20%; }

  .banner-main .content {
    width: 80%; }

  .banner-main .banner-title {
    font-size: 30px; }

  .banner-main .banner-text {
    font-size: 22px; }

  .btn-red {
    height: 40px;
    font-size: 16px; }

  .form-order__container .img {
    display: none; }

  .form-order__container {
    justify-content: center;
    padding: 20px 55px 30px; }

  .form-order .caption-form {
    margin-bottom: 25px; }

  .map-contacts-info {
    margin-left: 65px; }

  .reviews-slider__item {
    padding: 0 10px; }

  .there-question__contents:after {
    display: none; }

  .there-question__contents {
    flex-direction: column;
    align-items: center; }

  .there-question__contents .text {
    margin-bottom: 40px;
    text-align: center; }

  .there-question__contents .caption {
    margin-bottom: 10px; }

  .footer__right-col {
    margin-top: 30px; }

  .btn-menu-show {
    display: inline-block; }

  .page__contacts {
    overflow: hidden; }

  .service__head {
    flex-direction: column;
    margin-top: 40px; }

  .service__head > .img {
    width: auto;
    max-width: 100%;
    margin-bottom: 35px; }

  .service__head .service__infos {
    width: 100%; }

  .section-service-padding {
    padding-left: 0;
    padding-right: 0; }

  .faq__section .faq__contents {
    width: 100%; }

  .table_price .th:nth-child(4), .table_price .td:nth-child(4) {
    width: 15%; }

  .table_price .th:nth-child(1), .table_price .td:nth-child(1) {
    width: 45%; } }
@media screen and (max-width: 768px) {
  .max-768-h {
    display: none; }

  .banner-main .img {
    display: none; }

  .banner-main .content {
    width: 100%;
    justify-content: flex-start; }

  .map-contacts-info {
    position: static;
    width: calc(100% - 30px);
    margin: -90px auto 0;
    padding: 20px;
    height: auto; }

  .item-content-review {
    margin: 0 auto; }

  .table_price {
    width: 100%;
    overflow: auto; }

  .table__scroll {
    width: 600px; } }
@media screen and (max-width: 550px) {
  .popup-menu-mobile {
    width: 100%;
    left: -101%; }

  .page-footer {
    padding: 25px 0; }

  .footer__left-col {
    flex-direction: column;
    align-items: center; }

  .item-footer-info {
    margin-bottom: 5px; }

  .item-footer-info .title {
    margin-bottom: 0; }

  .footer__left-col form {
    margin-right: 0;
    text-align: center;
    margin-top: 10px; }

  .footer__right-col > div {
    width: 100%;
    margin-right: 0;
    text-align: center; }

  .footer__right-col {
    flex-direction: column; }

  .form-content {
    width: 100%; }

  .there-question__contents .text {
    width: 100%; }

  .there-question__contents .there-question__form {
    width: 100%; }

  .form-order__container {
    padding-left: 0;
    padding-right: 0;
    width: 100%; }
    .form-order__container form {
      width: 100%; }

  .form-content {
    padding-left: 25px;
    padding-right: 25px; }

  .page-header__logo {
    background: url("../img/logo-min.png") center/cover;
    width: 149px;
    height: 40px; } }
@media screen and (max-width: 450px) {
  .page-header__block-info .btn-call-me {
    display: none; } }

/*# sourceMappingURL=style.css.map */
